/******* generelt ******/
* {
  box-sizing: border-box;
}

img {
  width: 100%;
}

/******** cards ******/
.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.card img {
  width: 100%;
}

/******** fonts *******/
h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

p {
  font-family: "Inter", sans-serif;
}

/***** header *****/
.p_header {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 35%;
}

header {
  position: relative;
}

.p_header_padding {
  padding-bottom: 2.8rem;
}

#dreng1_container {
  position: absolute;
  left: 50%;
  bottom: -8%;
  aspect-ratio: 256/384;
  width: 15%;
}

#dreng1_sprite {
  width: 100%;
  height: 100%;
  background-image: url(imgs/dreng1.svg);
  background-size: cover;
}

#dreng2_container {
  position: absolute;
  left: 65%;
  bottom: -6.2%;
  aspect-ratio: 256/384;
  width: 15%;
}

#dreng2_sprite {
  width: 100%;
  height: 100%;
  background-image: url(imgs/dreng2.svg);
  background-size: cover;
}

#pige_container {
  position: absolute;
  left: 80%;
  bottom: -5%;
  aspect-ratio: 256/384;
  width: 15%;
}

#pige_sprite {
  width: 100%;
  height: 100%;
  background-image: url(imgs/pige.svg);
  background-size: cover;
}

/******** text section *****/
.text_section {
  max-width: 75ch;
  line-height: 140%;
}

.flex_centeret {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-block: 7rem;
}

.h2_textsection {
  color: #324a3e;
}
