---
import "../styles/style.css";
import SiteMenu from "../components/SiteMenu.astro"
import SiteHeader from "../components/SiteHeader.astro";
---

<!doctype html>
<html lang="da">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Astro Project - Pørerende Netværket</title>
    <link rel="stylesheet" href="style.css" />
  </head>


  <body>
     <SiteMenu />

     <SiteHeader />
  </body>


</html>
