---
import "../styles/style.css";
import SiteMenu from "../components/SiteMenu.astro"
import SiteHeader from "../components/SiteHeader.astro";
import SiteSection from "../components/SiteSection.astro";
import Card from "../components/Card.astro";
---

<!doctype html>
<html lang="da">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Astro Project - Pørerende Netværket</title>
    <link rel="stylesheet" href="style.css" />
  </head>


  <body>
     <SiteMenu />

     <SiteHeader />

	 <SiteSection title="Din erfaring og forståelse gør stor forskel i andres liv">
		<div class="cards">
        <Card text="“Jeg var nervøs i starten, men med oplæring og støtte følte jeg mig hurtigt klar – og nu kan jeg ikke forestille mig ikke at hjælpe.”" name="Mia" img="../public/imgs/Mia.png"/>
      	<Card text="“Det bedste ved at være frivillig er at mærke, hvordan en simpel samtale kan give håb og lettelse.”" name="Birgitte" img="../public/imgs/Birgitte.png"/>
		<Card text="“Jeg troede, det krævede meget at hjælpe – men bare dét at lytte kan gøre en kæmpe forskel.”" name="Rasmus" img="../public/imgs/Rasmus.png"/>
	</div>
	 </SiteSection>
  </body>


</html>
