---
import "../styles/style.css";
import SiteMenu from "../components/SiteMenu.astro"
import SiteHeader from "../components/SiteHeader.astro";
import SiteSection from "../components/SiteSection.astro";
import Card from "../components/Card.astro";
import SiteSection2 from "../components/SiteSection2.astro";
import QuestionSection from "../components/QuestionSection.astro";
---

<!doctype html>
<html lang="da">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Astro Project - Pørerende Netværket</title>
    <link rel="stylesheet" href="style.css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  </head>


  <body>
     <SiteMenu />

     <SiteHeader title="Bliv frivillig – Gør en forskel med din stemme!">
		<div class="p_header_padding">
		<p class="p_header">Hjælp misbrugere og deres pårørende.</p>
		<p class="p_header">Din støtte kan gøre en forskel for dem, der kæmper.	</p>
		</div>
	 </SiteHeader>

	 <SiteSection title="Din erfaring og forståelse gør stor forskel i andres liv">
		<div class="cards">
        <Card text="“Jeg var nervøs i starten, men med oplæring og støtte følte jeg mig hurtigt klar – og nu kan jeg ikke forestille mig ikke at hjælpe.”" name="Mia" img="../imgs/Mia.png"/>
      	<Card text="“Det bedste ved at være frivillig er at mærke, hvordan en simpel samtale kan give håb og lettelse.”" name="Birgitte" img="../imgs/Birgitte.png"/>
		<Card text="“Jeg troede, det krævede meget at hjælpe – men bare dét at lytte kan gøre en kæmpe forskel.”" name="Rasmus" img="../imgs/Rasmus.png"/>
		</div>
	 </SiteSection>

	 <SiteSection2 overskrift="Hvad indebærer det at være frivillig i Pårørende Netværket?" img="../imgs/Kvinde.png"/>

	 <QuestionSection title="Ofte stillede spørgsmål - find svaret her:" />
  </body>


</html>
