---
const { title } = Astro.props;
---

<section>
  <h2>{title}</h2>
  <slot />
</section>

<style>
    h2{
        font-size: 2rem;
        text-align: center;
        padding-block: 5rem;
        color: #324A3E;
    }
</style>