---
const { title1, title2 } = Astro.props;
---

<section>
  <h2 class="h2_øverst">{title1}</h2>
  <h2>{title2}</h2>
  <slot />
</section>

<style>
  h2 {
    font-size: 2rem;
    text-align: center;
    color: #324a3e;
  }

  .h2_øverst {
    padding-top: 6rem;
    margin-bottom: -15px;
    padding-block: 0;
  }
</style>
