---
---

    <footer>
        <div class="grid3">
            <div class="footerboks">
                <h3>Hvad er Pårørende Netværket - Misbrugsportalen?</h3>
                <p>Pårørende Netværket er en social frivillig rådgivningsorganisation, der henvender sig til familier,
                    som
                    er berørt af
                    afhængighed.</p>
                <p>Foreningen arbejder for at skabe bedre vilkår for sin målgruppe gennem frivillig akutrådgivning,
                    individuelle
                    samtaleforløb, terapeutiske gruppeforløb og afvikling af projekter såsom landsdækkende julehjælp,
                    oplæg
                    og
                    pårørendefællesskaber.</p>
            </div>

            <div class="footerboks">
                <h3>Åbningstider</h3>
                <dl>
                    <dt>Man - tirs</dt>
                    <dd>15 - 18</dd>
                    <dt>Ons - fre</dt>
                    <dd>18 - 21</dd>
                    <dt>Weekender og helligdage</dt>
                    <dd>Lukket</dd>
                </dl>
                <p>Der tages forbehold for ændringer i åbningstiderne.</p>
            </div>

            <div class="footerboks3">
                <h3>Kontaktoplysninger</h3>
                <p>Pårørende Netværket - Misbrugsportalen</p>
                <p>Bagsværd Hovedgade 126, 2880 Bagsværd</p>
                <p>Klik her for rutevejledning</p>
                <p>Akutrådgivning: 7090 9080</p>
                <p>Sekretariat: 7060 4446</p>
                <p>mail@misbrugsportalen.dk</p>

                   <div id="dreng3_container">
<div id="dreng3_sprite"></div>
            </div>
        </div>

    </footer>

    <style>

        footer {
            background-color: #324a3e;
            padding-top: 2rem;
            padding-bottom: 2rem;
        }

h3 {
  font-family: "Montserrat", sans-serif;
  color: white;
  font-size: 16px;
  font-weight: 500;
}

p {
  font-family: "Inter", sans-serif;
  color: white;
   font-size: 13px;
   max-width: 45ch;
   line-height: 130%;
}

dl {
  display: grid;
  grid-template-columns: 1fr 1fr;
  line-height: 3;
  color: white;
  font-family: "Inter", sans-serif;
  font-size: 13px;
}

.footerboks {
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 3rem;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 3rem;
  border: solid;
  border-width: 1px;
  color: white;
}

.footerboks3 {
    position: relative;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 3rem;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 3rem;
  border: solid;
  border-width: 1px;
  color: white;
}

#dreng3_container {
  position: absolute;
  left: 68%;
  bottom: -6%;
  aspect-ratio: 253/396;
  width: 30%;
}

#dreng3_sprite {
  width: 100%;
  height: 100%;
  background-image: url(imgs/dreng3.svg);
  background-size: cover;
}

@media (min-width: 600px) {
  .grid3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
    </style>