---
const { overskrift, img, } = Astro.props;
---

<div class="card_container">
<article class="card">
  <div class="card_indhold">
    <h3>{overskrift}</h3>
   <p>Vil du hjælpe pårørende til misbrugsramte og skabe meningsfuld forandring? Bliv frivillig rådgiver hos Pårørende Netværket – Misbrugsportalen!
    Vi søger engagerede frivillige til at støtte mennesker berørt af alkohol-, stof- eller medicinmisbrug. Du bliver en del af et stærkt, fagligt fællesskab med rådgivere fra social- og sundhedsområdet, terapeuter og tidligere pårørende. Uanset hvor i landet du bor, kan du bidrage – vores arbejde er landsdækkende og foregår online i et nærværende og støttende miljø.</p>
  </div>
  <img class="card_image" src=`${img}` alt=`Image og ${overskrift}` />
</article>
</div>

<style>
.card_indhold {
  flex: 1;
  padding: 35px;
  font-family: Arial, sans-serif;
}

.card_indhold p {
  font-size: 15px;
  margin: 0;
  color: #333; 
  line-height: 1.5rem;
}

h3 {
  display: block;
  margin-top: 10px;
  font-size: 30px;
  line-height: 2rem;
  color: #324A3E;
}

.card {
 display: grid;
 grid-template-columns: 1fr 1fr;
 max-width: 800px;
  background-color: #F3F7F8; 
  border-radius: 5%;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  
}
.card_image {
  width: 100%;
  object-fit: cover;
  border-radius: 0 5% 5% 0;
  margin-right: 15px;
}

.card_container{
    display: flex;
    justify-content: center;
    align-items: center; 
    gap: 10px;
    padding-top: 6rem;
    padding-bottom: 5rem;
}

@media screen and (max-width: 650px) {
  .card {
    grid-template-columns: 1fr;
  }
}
</style>